body{
    font-weight: 400;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2.2em;
    color: gray;
    margin: 0;
}

header{
    background-color:rgb(254, 105, 6);

}

section, footer{
    margin: 40px;
}

h1{
    font-size: 63px;
    color: #303030;
    padding: 15px;
    color: white;
    text-align: center;
}

h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}

.carousel-caption h5{
    font-size: 80px;
    color: #ffc107;
    text-shadow: 2px 2px 2px black;
}

   